			.modal {
				display: none; /* Hidden by default */
				position: fixed; /* Stay in place */
				z-index: 1; /* Sit on top */
				left: 0;
				top: 0;
				width: 100%; /* Full width */
				height: 100%; /* Full height */
				overflow: auto; /* Enable scroll if needed */
				background-color: rgb(0,0,0); 
				background-color: rgba(0,0,0,0.4);  }

			/* Modal Content/Box */
			.modal-content {
				background: linear-gradient(160deg, #C68642, #ae924d);
				margin: 15% auto; 
				padding: 20px;
				font-size: 20px;
				border: 1px solid #888;
				width: 80%; }
			
			.summaryHead {
				font-family: "Papyrus", fantasy;
				color: black;
				text-decoration: underline;
				font-size: 40px;
				margin-bottom: 10px; }

			/* The Close Button */
			.close {
				color: #aaa;
				float: right;
				font-size: 32px;
				font-weight: bold; }

			.close:hover,
			.close:focus {
				color: black;
				text-decoration: none;
				cursor: pointer; }
			
			#quizButton {
				background-color: black; 
				color: white; 
				padding: 10px 20px; 
				border: none; 
				cursor: pointer; /* Cursor on hover */
				transition: background-color 0.3s ease; /* Smooth transition for background color */ }

			/* Hover effect */
			#quizButton:hover {
				background-color: white;  
				color: black;}
			
			#naviList a.active {
				font-size: 25px; 
				font-weight: bold;
				text-decoration: underline;
				text-underline-offset: 5px;}

			.links-container a.active {
				font-size: 25px; 
				color: white;
				font-weight: bold;
				text-decoration: underline;
				text-underline-offset: 5px;}
				
		body {
			width: 100%;
			margin:0;
			padding: 0; 
			left:0;
			right:0;}
					
			.topBar {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 20px;
				background-color: black;
				z-index: 1000;
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 2px; }

			.secondBar {
				position: fixed;
				left: 0;
				right:0;
				top: 20px;
				width: 100%;
				height: 100px;
				background: linear-gradient(135deg, #ae924d, #C68642);
				z-index: 1000;
				display: flex;
				align-items: center; }

			.secondBar img {
				margin: 10px;
				height: 80px;
				width: 80px;
				opacity: 80%;
				border-radius: 100%;
				border: black 1px solid; }

			.secondBar i{
				padding: 20px;
				font-size: 30px;
				width: 30px;
				text-decoration: none;
				color: black; }

			#naviList {
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: flex;
				justify-content: center; }

			#naviList li {
				padding: 0;
				margin: 0;
				position: relative; }

			#naviList li i {
				padding-right: 10px;
				font-size: 30px;}

			#naviList a {
				text-decoration: none;
				color: black;
				font-size: 20px;
				padding: 10px 5px;
				display: inline-block;
				position: relative; }

			#naviList li a:hover {
				font-size: 25px;
				font-weight: bold;}

			.menu-dropdown, .aboutus-dropdown {
				position: relative;	}

			.category-popup {
				display: none;
				position: absolute;
				top: calc(100% + 10px);
				left: 0;
				background-color: rgba(255, 255, 255, 0.9);
				border: 1px solid #ccc;
				padding: 10px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				z-index: 1000;
				min-width: 220px;
				text-align: left; }

			.menu-dropdown:hover .category-popup,
			.aboutus-dropdown:hover .category-popup {
				display: block;
				position: absolute;
				transition: all 0.2s ease;
				top: calc(100% + 5px); }

			.category-popup ul {
				list-style-type: none;
				padding: 0;
				margin: 0; }

			.category-popup li {
				margin-bottom: 5px; }

			.category-popup a {
				text-decoration: none;
				color: #1d0909;
				display: block;
				padding: 8px 12px;
				font-size: 16px;
				line-height: 1.5; }

			#naviList .category-popup a:hover {
				font-size: 25px;
				color: black;
				text-decoration: underline; }
			
			#iconContainer {				
				text-align: right;
				margin-top: 10px;
				position: absolute; 
				right: 20px; }			
			
			#iconContainer i:hover {
				color: #0f2026;
				font-size: 50px; }
												
			.search-bar {
				display: none; /* Initially hidden */
				position: absolute;
				top: calc(100% + 1px);
				right: 200px;
				width: 200px;
				height: auto;
				background-color: white;
				opacity: 0.9;
				border: 1px solid #343434;
				padding: 10px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				z-index: 1000; }

			.search-bar.active {
				display: block; }
				
			#mySearchLabel {
				font-size: 25px;
			}

			.search-input {
				width: calc(100% - 20px);
				padding: 8px;
				font-size: 16px;
				border: 1px solid gray;
				border-radius: 4px;
				margin-right: 10px; }

			.search-results {
				margin-top: 10px; }

			.search-results li {
				list-style-type: none;
				margin-bottom: 3px; }

			.search-results a {
				text-decoration: none;
				color: #1d0909;
				display: block;
				padding: 8px 12px;
				font-size: 18px;
				line-height: 1.5; }

			.search-results a:hover {
				text-decoration: underline;
				font-weight: bold;
				font-size: 20px; }

			.firstView {
				margin: 120px 0 0 0;		
				left: 0;
				width: 100%;
				height: 575px;
				background-size: cover;
				background-position: center;
				display: flex;
				flex-wrap: 100%;
				justify-content: center;
				align-items: center;
				text-align: center;
				overflow: hidden;
				opacity: 0.7; }

			.animatedText {
				font-size: 100px; 
				color: white; 
				font-stretch: extra-expanded;
				font-weight: bold;
				font-style: oblique;
				text-shadow: 4px 4px 8px black;
				-webkit-text-stroke: 2px black; /* Add a black text stroke */
				animation-fill-mode: forwards;
				position: relative; 
				z-index: 0.9; /* Ensure text appears above the background image */ }
				
			.fadeIn {
				animation-name: fadeIn;
				animation-duration: 3s; }

			.slideInRight {
				animation-name: slideInRight;
				animation-duration: 3s; }

			.slideInLeft {
				animation-name: slideInLeft;
				animation-duration: 3s; }

			@keyframes fadeIn {
				0% { opacity: 0; }
				100% { opacity: 1; } }

			@keyframes slideInRight {
				0% {
					opacity: 0;
					transform: translateX(100px); }
				100% {
					opacity: 1;
					transform: translateX(0); }}

			@keyframes slideInLeft {
				0% {
					opacity: 0;
					transform: translateX(-100px); }
				100% {
					opacity: 1;
					transform: translateX(0); }}

			.secondView {
			  position: relative;
			  top: 10px;
			  width: 100%;
			  display: flex;
			  justify-content: space-between;
			  align-items: center;
			  padding: 20px;
			  box-sizing: border-box; }

			.discountDetail {
			  width: 48%;
			  height: 225px;
			  transform: translateX(0);
			  z-index: 10;
			  padding: 20px;
			  border-radius: 15px 50px;
			  border: dotted #ae924d 15px;
			  background-color: #f8f9fa;
			  position: relative;
			  overflow: hidden; /* Ensures surprise covers the entire area */ }

			.discountDetail.left {
			  text-align: left;
			  margin: 20px; }

			.discountDetail.right {
			  text-align: right;
			  margin: 20px; }

			.discountDetail h2 {
			  font-size: 30px;
			  margin-bottom: 10px;
			  text-align: center; }

			.discountDetail p {
			  font-size: 20px;
			  text-align: center;
			  line-height: 1.6;
			  color: black;
			  margin-bottom: 5px; }

			.discountDetail h3 {
			  margin-top: 0;
			  font-size: 25px;
			  text-align: center;
			  line-height: 1.6;
			  color: black; }

			.discountDetail a {
			  display: inline-block;
			  padding: 10px 20px;
			  border: 2px solid #ae924d;
			  color: black;
			  text-decoration: none;
			  border-radius: 15px;
			  font-size: 20px; }

			.discountDetail a:hover {
			  text-decoration: none;
			  color: #ae924d;
			  font-size: 24px; }

			.surpriseMessage {
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			  display: flex;
			  justify-content: center;
			  align-items: center;
			  background-color: white; 
			  border: 15px; 
			  border-radius: 15px;
			  cursor: pointer;  
			  text-align: center;
			  z-index: 21; }

			.wrap-text {
			  font-size: 30px;
			  color: black; 
			  padding: 20px;
			  background-color:#ae924d;
			  opacity: 70%;
			  border-radius: 10px; }

			/* Animation class for details reveal */
			.animate_reveal {
			  animation: reveal 2s ease forwards; }

			@keyframes reveal {
			  0% {
				opacity: 0;
				transform: scale(0.8);
			  }
			  100% {
				opacity: 1;
				transform: scale(1);
			  }
			}

			.hide {
			  display: none; }
	
			.thirdView {
				display: flex;
				justify-content: space-around;
				margin-top: 10px;
				align-items: center;
				height: 175px;
				width: 100%;
				background-color: #f4f4f4;
				border: solid rgb(74, 72, 72) 2px;
				padding: 10px 0;
				box-sizing: border-box;
				left: 0;
				z-index: 20; /* Ensure it appears above other elements */ }

			.statistic {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				width: 20%; }

			.statistic i {
				font-size: 40px;
				margin-bottom: 10px;
				color: #333; }

			.stat-text {
				font-size: 18px;
				line-height: 1.4;
				color: #555; }
			
			.fourthView {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				padding-top: 20px;
				background-color: #fff;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			    box-sizing: border-box; }

			.fourthView h2 {
				color: #62522B;
				text-shadow: 2px 2px 4px #62522B;
				font-size: 50px;
				font-family: "Papyrus", fantasy;
				margin: 10px; }

			.menu-items-container {
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-wrap: wrap;
				width: 100%; }

			.menu-item {
				width: 22%;
				text-align: center;
				padding: 20px;
				box-sizing: border-box; }

			.menu-item img {
				width: 100%;
				max-width: 200px;
				height: auto;
				border-radius: 10px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				border: solid #ae924d 3px; }

			.menu-item-info {
				margin-top: 20px;
				text-align: center; }

			.menu-item-info h3 {
				font-size: 25px;
				margin-bottom: 10px; }

			.menu-item-info p {
				font-size: 20px;
				line-height: 1.5;
				color: #555; }
				
			.fourthView a {
				text-decoration: none;
				color: black; }
			
			.fifthView {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: centre;
				width: 100%;
				margin: 0;
				padding: 40px 0;
				background-color: #f4f4f4;
				box-sizing: border-box;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

			.benefit {
				width: 30%;
				text-align: center;
				padding: 0 20px;
				box-sizing: border-box;
				padding-bottom: 10px;
				padding-top: 5px; }

			.benefit i {
				font-size: 50px;
				margin-bottom: 5px;
				color: #ae924d; }

			.benefit h3 {
				font-size: 25px;
				margin-bottom: 5px;
				color: #62522B; }

			.benefit h2 {
				font-size: 50px;
				margin-bottom: 15px;
				font-family: "Papyrus", fantasy;
				margin-top: 15px;
				color: #62522B;
				text-shadow: 2px 2px 4px #62522B; }

			#benefitSubHead {
				font-size: 25px;
				font-family: "Papyrus", fantasy;
				text-shadow: 1px 1px 2px #62522B;
				line-height: 1.6;
				margin-bottom: 5px;
				margin-top: 5px;
				color: black; }

			.benefit p {
				font-size: 20px;
				line-height: 1.6;
				color: #555; }	
			
			.sixthView {				
				align-items: center;
				padding: 0;
				width: 100%;
				height: 550px; }

			.top-section {
				justify-content: space-around;
				text-align: center;
				width: 100%;
				padding: 0;
				background-color: white;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				box-sizing: border-box; }

			.top-section h2 {
				margin-top: 15px;
				margin-bottom: 0;
				color: #62522B;
				font-size: 50px;
				font-family: "Papyrus", fantasy;
				text-shadow: 2px 2px 4px #62522B; }

			.top-section p {
				margin: 0;
				color: #62522B;
				font-size: 30px;
				font-family: "Papyrus", fantasy;
				text-shadow: 1px 1px 2px #62522B; }

			.section-contents {
				width: 100%;
				height: 400px;
				background-color: white;
				display: flex;
				justify-content: space-around;
				align-items: flex-start;
				padding: 10px 0;
				box-sizing: border-box; }

			.chef {
				width: 22%;
				text-align: center;
				padding: 10px;
				box-sizing: border-box;
				position: relative;
				cursor: pointer; }

			.flip-card {
				perspective: 1000px; /* Adds depth to the flip effect */ }

			.flip-card-inner {
				position: relative;
				width: 100%;
				height: auto;
				text-align: center;
				transition: transform 0.6s;
				transform-style: preserve-3d; }

			.flip-card:hover .flip-card-inner {
				transform: rotateY(180deg); }

			.flip-card-front,
			.flip-card-back {
				position: absolute;
				width: 100%;
				height: 100%;
				backface-visibility: hidden; }

			.flip-card-front img {
				opacity: 80%;
				border: 2px dashed #ae924d;
				margin-bottom: 20px;
				max-width: 100%; 
				height: 350px; 
				border-radius: 50%; }

			.flip-card-back {
				/* Back of the card */
				background-color: white;
				opacity: 90%;
				border: 2px dashed #ae924d;
				color: #000;
				transform: rotateY(180deg);
				padding: 0;
				border-radius: 100%;
				height: 350px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding-top: 30px; }

			.chef-info {
				text-align: center; }	

			.chef-info h2 {
				font-size: 24px;
				margin-bottom: 5px;
				margin-top: 0;
				line-height: 1.6;
				text-decoration: underline;}

			.chef-info h4 {
				font-size: 18px;
				margin-bottom: 10px;
				margin-top: 0; }

			.chef-info p {
				font-size: 16px;
				color: black;
				line-height: 1.6; }
				
			.chef-info a {
				display: inline-block;
				padding: 10px 20px;
				background-color: #ae924d;
				color: black;
				text-decoration: none;
				border-radius: 5px;
				font-size: 20px; }
			
			.seventhView {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				margin: 0;
				padding: 0;
				height: 730px;
				background-color: #f4f4f4;
				box-sizing: border-box; }

			.seventhView h2 {
				margin: 0;
				color: #62522B;
				font-size: 30px;
				font-family: "Papyrus", fantasy;
				text-shadow: 1px 1px 2px #62522B;
				margin-bottom: 15px; }
				
			.seventhView .QueryForm {
				width: 47%;
				background-color: #fff;
				height: 660px;
				padding: 20px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				text-align: center;
				margin: 0 10px 10px 20px; }

			.seventhView .Custom-form {
				width: 47%;
				height: 660px;
				background-color: #fff;
				padding: 20px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				text-align: center;
				margin: 0 20px 10px 10px; }  

			form {
				max-width: 600px;
				margin: 20px auto;
				padding: 20px;
				border: 1px solid #ccc;
				border-radius: 5px;
				font-family: Arial, sans-serif; }
			
			label {
				font-weight: bold;
				display: block;
				margin-bottom: 5px; }
				
			input, textarea, select {
				width: 100%;
				padding: 8px;
				margin-bottom: 10px;
				border: 1px solid #ccc;
				border-radius: 3px;
				box-sizing: border-box;
				font-size: 14px; }
				
			button {
				background-color: #355E3B;
				color: white;
				padding: 10px 20px;
				border: none;
				border-radius: 3px;
				cursor: pointer;
				font-size: 14px;
				margin: 10px; }
				
			button[type="reset"] {
				background-color: #8B0000; }
				
			form button:hover {
				background-color: black	}

			.error-message, .error {
				color: #8B0000;
				font-size: 15px;
				margin-top: 2px;
				margin-bottom: 5px;
				padding: 5px; }    

			.eighthView {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				margin: 0;
				padding: 0;
				height: 270px;
				background-color: #f4f4f4;
				box-sizing: border-box; }

			.eighthView .signupPro {
				background-color: #fff;
				padding: 20px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				height: 200px;
				text-align: center;
				flex: 1; 
				float: left;
				width: 47%;
				margin: 10px 10px 10px 20px; }
				
			.eighthView .FAQ {
				background-color: #fff;
				padding: 20px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				text-align: center;
				flex: 1; 
				float: right;
				width: 47%;
				height: 200px;
				margin: 10px 20px 10px 10px; }
				
			.eighthView h2 {
				margin-bottom: 10px;		 
				margin: 0;
				color: #62522B;
				font-size: 30px;
				font-family: "Papyrus", fantasy;
				text-shadow: 1px 1px 2px #62522B; }

			.eighthView p {
				font-size: 20px;
				line-height: 1.6;
				color: #555;
				margin-bottom: 20px; }

			.eighthView a {
				display: inline-block;
				padding: 10px 20px;
				background-color: #ae924d;
				opacity: 0.7;
				color: black;
				text-decoration: none;
				border-radius: 5px;
				font-size: 18px; }				

			footer {
				background-color: #222;
				color: white;
				padding: 20px;
				box-sizing: border-box;
				width: 100%;
				height: 500px;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				position: relative;
				margin: 0;
				padding: 0; }

			.footer-left {
				width: 30%;
				margin-left: 10px; }

			.footer-left h3 {
				font-size: 20px;
				margin-bottom: 10px;	
				margin-top: 25px;
				font-family: Georgia, serif;}

			.footer-left p {
				font-size: 18px;
				line-height: 1.6;
				margin-left: 15px;
				color: #ccc;
				margin-bottom: 0;
				font-family: "Lucida Console", monospace; }

			.footer-left i {
				font-size: 25px;
				margin-right: 10px;
				padding-left: 25px;
				color: white; }

			.footer-left i:hover {
				color: gray;
				font-size: 30px; }

			.footer-middle {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				width: 40%;
				font-size: 20px;
				font-family: Georgia, serif;}

			.gallery-container {
				width: 50%;
				margin-bottom: 0; }

			.gallery-container h3 {
				font-size: 20px;
				margin-bottom: 5px;	
				 }

			.gallery {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(2, auto);
				justify-content: center;
				align-items: center;
				margin: 0; }

			.gallery img {
				width: 85px;
				height: 85px;
				border-radius: 5px;
				object-fit: cover;
				position: relative;
				padding: 10px; }

			.links-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 10px; }

			.links-container a {	
				
				margin: 5px 0;
				font-size: 20px;
				text-decoration: none;
				color: white;
				padding-bottom: 2px;
				font-family: Georgia, serif;}

			.links-container a:hover {
				color: gray;
				font-size: 23px;
				font-weight: bold; }

			.footer-right {
				width: 30%;
				margin-bottom: 10px; }

			.footer-right h3 {
				font-size: 20px;
				margin-bottom: 10px;
				margin-top: 25px;
				font-family: Georgia, serif;}

			.footer-right p {
				font-size: 18px;
				line-height: 1.6;
				color: #ccc;
				margin-bottom: 5px;
				font-family: "Lucida Console", monospace;
				margin-left: 5px; }
				
			.footer-right .social-icons {
				margin-left: 12px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 10px;
				margin-top: 10px; }

			.footer-right i {
				font-size: 25px;
				width: 30px;
				text-decoration: none;
				color: #ccc;
				padding: 5; 
				margin-right: 10px; }

			.footer-right i:hover {
				color: white;
				font-size: 30px; }
				
			.footer-right a {
				font-size: 20px;
				width: 30px;
				text-decoration: none;
				color: white;
				padding: 5px;
				margin-left: 10px;	}

			.footer-right a:hover {
				color: gray; }

			#backToTop .fas, #questionIcon .fas {
				position: absolute;
				cursor: pointer;
				font-size: 20px;
				width: 30px;
				text-decoration: none;
				color: white; 
				display: flex;
				align-items: center;
				justify-content: center;
				border: none;
				padding: 0;
				background: none; 
				border: 2px white solid;
				border-radius: 100%; }

			#questionIcon .fas {
				bottom:40px; 
				right: 20px; }

			#backToTop .fas {
				bottom: 80px; 
				right: 12px; }

			#backToTop .fas:hover,
			#questionIcon .fas:hover {
				color: gray; 
				font-size: 15px; }

			#copy {
				position: absolute;
				bottom: 0;
				width: 98.6%;
				align-items:center;
				text-align: center;
				font-size: 14px;
				color: #ccc;
				padding: 10px;
				background-color: #222;
				font-family: "Lucida Console", monospace; }
				
			#copy a {
				color: white;
			}	
			
			#copy a:hover {
				font-size: 20px;
				color: gray;
				
			}	
			
			@media (max-width: 1515px) {
				body {
					width: 100%;				
				}
			}
			

			